## 1: Create a DataFrame and Read a CSV File

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
'School ID': [101, 102, 103, np.nan, 105, 106, 107, 108],
'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
'Address': ['123 Main St', '456 Oak Ave', '789 Pine Ln', '101 Elm St', np.nan, '222 Maple Rd', '444 Cedar Blvd', '555 Birch Dr'],
'City': ['Mumbai', 'Delhi', 'Bengaluru', 'Chennai', 'Kolkata', np.nan, 'Pune', 'Jaipur'],
'Subject': ['Math', 'English', 'Science', 'Math', 'History', 'Math', 'Science', 'English'],
'Marks': [85, 92, 78, 89, np.nan, 95, 80, 88],
'Rank': [2, 1, 4, 3, 8, 1, 5, 3],
'Grade': ['B', 'A', 'C', 'B', 'D', 'A', 'C', 'B']
}

df = pd.DataFrame(data)
print(df)

   School ID Name         Address       City  Subject  Marks  Rank Grade
0      101.0    A     123 Main St     Mumbai     Math   85.0     2     B
1      102.0    B     456 Oak Ave      Delhi  English   92.0     1     A
2      103.0    C     789 Pine Ln  Bengaluru  Science   78.0     4     C
3        NaN    D      101 Elm St    Chennai     Math   89.0     3     B
4      105.0    E             NaN    Kolkata  History    NaN     8     D
5      106.0    F    222 Maple Rd        NaN     Math   95.0     1     A
6      107.0    G  444 Cedar Blvd       Pune  Science   80.0     5     C
7      108.0    H    555 Birch Dr     Jaipur  English   88.0     3     B

In [27]:
di = pd.read_csv('employees.csv')
print(di)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [28]:
di.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

## 2: Dataset Inspection(shape, information, describe)

In [29]:
df.shape

(8, 8)

In [30]:
df.info

<bound method DataFrame.info of    School ID Name         Address       City  Subject  Marks  Rank Grade
0      101.0    A     123 Main St     Mumbai     Math   85.0     2     B
1      102.0    B     456 Oak Ave      Delhi  English   92.0     1     A
2      103.0    C     789 Pine Ln  Bengaluru  Science   78.0     4     C
3        NaN    D      101 Elm St    Chennai     Math   89.0     3     B
4      105.0    E             NaN    Kolkata  History    NaN     8     D
5      106.0    F    222 Maple Rd        NaN     Math   95.0     1     A
6      107.0    G  444 Cedar Blvd       Pune  Science   80.0     5     C
7      108.0    H    555 Birch Dr     Jaipur  English   88.0     3     B>

In [31]:
df.describe

<bound method NDFrame.describe of    School ID Name         Address       City  Subject  Marks  Rank Grade
0      101.0    A     123 Main St     Mumbai     Math   85.0     2     B
1      102.0    B     456 Oak Ave      Delhi  English   92.0     1     A
2      103.0    C     789 Pine Ln  Bengaluru  Science   78.0     4     C
3        NaN    D      101 Elm St    Chennai     Math   89.0     3     B
4      105.0    E             NaN    Kolkata  History    NaN     8     D
5      106.0    F    222 Maple Rd        NaN     Math   95.0     1     A
6      107.0    G  444 Cedar Blvd       Pune  Science   80.0     5     C
7      108.0    H    555 Birch Dr     Jaipur  English   88.0     3     B>

## 3: Feature Scaling (Manual Standardization)

In [32]:
df.head()

   School ID Name      Address       City  Subject  Marks  Rank Grade
0      101.0    A  123 Main St     Mumbai     Math   85.0     2     B
1      102.0    B  456 Oak Ave      Delhi  English   92.0     1     A
2      103.0    C  789 Pine Ln  Bengaluru  Science   78.0     4     C
3        NaN    D   101 Elm St    Chennai     Math   89.0     3     B
4      105.0    E          NaN    Kolkata  History    NaN     8     D

In [33]:
d_mean = df['Marks'].fillna(df['Marks'].mean())
d_mode = df['Marks'].fillna(df['Marks'].mode())
d_mean = df['Marks'].fillna(df['Marks'].mean())

print(d_mean)
print(d_mode)
print(d_mean)

0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
5    95.000000
6    80.000000
7    88.000000
Name: Marks, dtype: float64
0    85.0
1    92.0
2    78.0
3    89.0
4    89.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64
0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
5    95.000000
6    80.000000
7    88.000000
Name: Marks, dtype: float64

## 4: Train-Test Split (From Scratch)

In [46]:
tts = pd.read_csv("carprices.csv")
tts.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [ ]:
x = tts[['Mileage', 'Age(yrs)']]
y = tts['Sell Price($)']

In [51]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.2)

In [58]:
x_train

    Mileage  Age(yrs)
0     69000         6
8     91000         8
19    52000         5
12    59000         5
13    58780         4
11    79000         7
15    25400         3
5     59000         5
6     52000         5
14    82450         7
1     35000         3
4     46000         4
10    83000         7
9     67000         6
3     22500         2
18    87600         8

In [59]:
x_test

    Mileage  Age(yrs)
2     57000         5
16    28000         2
17    69000         5
7     72000         6

In [60]:
y_train

0     18000
8     12000
19    28200
12    26000
13    27500
11    19500
15    35000
5     26750
6     32000
14    19400
1     34000
4     31500
10    18700
9     22000
3     40000
18    12800
Name: Sell Price($), dtype: int64

In [61]:
y_test

2     26100
16    35500
17    19700
7     19300
Name: Sell Price($), dtype: int64

In [62]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression()

In [63]:
clf.predict(x_test)

array([26553.20699813, 38373.05173196, 23978.51279833, 21468.95022028])

In [64]:
y_test

2     26100
16    35500
17    19700
7     19300
Name: Sell Price($), dtype: int64

In [65]:
clf.score(x_test, y_test)

0.8169826131943627

## 5: Load & Inspect Real Dataset and do Column Selection & Row Filtering

In [34]:
di.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [40]:
nan_row = di[di.isnull().any(axis = 1)]
print(nan_row)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
7          NaN  Female   7/20/2015        10:43 AM   45906   11.598
10      Louise  Female   8/12/1980         9:01 AM   63241   15.132
20        Lois     NaN   4/22/1995         7:18 PM   64714    4.934
22      Joshua     NaN    3/8/2012         1:58 AM   90816   18.816
..         ...     ...         ...             ...     ...      ...
961    Antonio     NaN   6/18/1989         9:37 PM  103050    3.050
972     Victor     NaN   7/28/2006         2:49 PM   76381   11.159
985    Stephen     NaN   7/10/1983         8:10 PM   85668    1.909
989     Justin     NaN   2/10/1991         4:58 PM   38344    3.794
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655

    Senior Management             Team
1                True              NaN
7                 NaN          Finance
10               True              NaN
20               True            Legal
22               True  Client Services
..                ...              ...
961             False            Legal
972              True            Sales
985             False            Legal
989             False            Legal
995             False     Distribution

[236 rows x 8 columns]

In [43]:
drop_rows = di.dropna(subset = ['Team', 'Senior Management'])

print(drop_rows)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
5       Dennis    Male   4/18/1987         1:35 AM  115163   10.125
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
2               False               Finance
3                True               Finance
4                True       Client Services
5               False                 Legal
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[899 rows x 8 columns]